body {
    margin: 10% 30% 10% 30%;
}

.container {
    border: 2px solid black;
}

#question-page, #final-score-page, #leaderboard-page {
    display: none;
}

ul {
    list-style-type: none;
}

h1, h2 {
    text-align: center;
} 


#start-page, #question-page, #final-score-page, #leaderboard-page {
    float: left;
    margin: 10%;
    position: relative;
    top: 100px;
}

#view-leaderboard {
    float:left;
    height: 10px;
}

#timer {
    float: right;
}

#start-btn {
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}
