html, body, .container {
    height: 100vw;
    margin: 0;
    padding: 0;
}

body {
    color:#444444;
    font-family: 'Noto Serif', serif;
    font-size: 1.3vw;
}

.container {
    padding: 10vw;
    border: 0.2vw solid #444444;
    border-radius: 2vw;
    margin: 7vw;
}

#question-page, #final-score-page, #leaderboard-page {
    display: none;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 4vw;
    text-align: center;
} 

h3 {
    font-size: 2vw;
}

#start-page, #question-page, #final-score-page, #leaderboard-page {
    margin: 15vw 5vw;
}

#view-leaderboard {
    float:left;
    cursor: pointer;
}

#timer {
    float: right;
}

li {
    margin: 4px 2px;
}

button, input[type="text"], #score-container {
    padding: 0.8vw 1.5vw;
    text-align: center;
    font-size: 1.3vw;
    font-family: 'Noto Serif', serif;
    margin: 0.2vw 0.1vw;
    border-radius: 0.6vw;
    cursor: pointer;
    background-color: white; 
    border: 0.2vw solid #444444;
}

button:focus, input:focus {
    outline: none;
}

button:hover {
    background-color: #444444;
    color: white;
}

p, form {
    text-align: center;
}

#score-container {
    width: 25vw;
    padding: 2vw 4vw;
    margin: 0 auto;
    margin-bottom: 1vw;
    text-align: justify;
}

#start-btn {
    margin-top: 2vw;
    margin-left: 20vw;
    width: 15vw;
}

#go-back-btn {
    margin-left: 11vw;
    width: 15vw;
}

#clear-btn {
    width: 18vw;
}