html, body, .container {
    height: 100vw;
    margin: 0;
    padding: 0;
}

body {
    color:#444444;
    font-family: 'Noto Serif', serif;
}

.container {
    padding: 10vw;
    border: 2px solid #444444;
    border-radius: 8px;
    margin: 10vw;
}

#question-page, #final-score-page, #leaderboard-page {
    display: none;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
    /* font-size: 40px; */
    font-size: 3em;
    text-align: center;
} 

#start-page, #question-page, #final-score-page, #leaderboard-page {
    margin: 15vw 5vw;
}

#view-leaderboard {
    float:left;
    cursor: pointer;
}

#timer {
    float: right;
}

li {
    margin: 4px 2px;
}

button, input[type="text"], #score-container {
    padding: 10px 24px;
    text-align: center;
    /* font-size: 14px; */
    font-size: 0.8em;
    font-family: 'Noto Serif', serif;
    margin: 4px 2px;
    border-radius: 6px;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #444444;
}

button:focus, input:focus {
    outline: none;
}

button:hover {
    background-color: #444444;
    color: white;
}

p, form {
    text-align: center;
}

#score-container {
    width: 25vw;
    height: 350px;
    padding: 10px 40px 10px 40px;
    margin: 0 auto;
    margin-bottom: 1vw;
    text-align: justify;
}

#start-btn {
    margin-top: 2vw;
    margin-left: 17vw;
    width: 15vw;
}

#go-back-btn {
    margin-left: 9vw;
    width: 15vw;
}

#clear-btn {
    width: 16vw;
}